<!DOCTYPE html>
<html lang="en">
    <%-include ('../partials/head') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="/public/script/script.js"></script>
    
<body>
  <%-include('../partials/admin/dash-navbar') %>
  


    
<br>
<h5 class="text-center text-success">SALES & INFO</h5>

<br>


<div class="d-flex justify-content-center mb-5">
  <p class="fw-bold justify-content-center">WELCOME RASHID</p><br>
 

</div>


<section class="container">
<div class="d-flex align-items-center ">
  <div style="width: 1000px ;margin-left: 150px;"><canvas  id="saleschart"></canvas></div>
  <img src="/productimages/1-multi-series-bar-chart-800w-opt.png" alt="Sales chart image">
</div>
</section>



  
  <br>
      
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
      <div class="container">
          <div class="row">

              <div class="col-md-4 pt-5">
                  <h5 class="h2 text-success border-bottom pb-3 border-light logo">SWAROin</h5>
                  <ul class="list-unstyled text-light footer-link-list">
                      <li>
                          <i class="fas fa-map-marker-alt fa-fw"></i>
                          ADMIN PANEL
                      </li>
                     
                      <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        If you notice any issues with the help center or content, please contact supportSwaroin.com
                    </li>
                  </ul>
              </div>


              
    <div class="w-100 bg-black py-3">
      <div class="container">
          <div class="row pt-2">
              <div class="col-12">
                  <p class="text-left text-light">
                      Copyright &copy; 2023 SWAROin
                      | Designed by <a rel="sponsored" href="https://templatemo.com" target="_blank">Roshin</a>
                  </p>
              </div>
          </div>
      </div>
  </div>

       
  </footer>
    <script src="/script/chart.js"></script>
</body>
</html>