<!DOCTYPE html>
<html lang="en">

<%-include ('./partials/head') %>


    <%-include('./partials/top-navbar')%>
    <body style="background-image: url(/assets/imgs/women.jpg); background-size: cover;" >


      <div class="container-fluid mx-auto">
        <div class="row mt-5 justify-content-center">
          <div class="col-sm-6 text-black">
              <span class="text-danger fw-bold fs-5"><%= message %></span>
            <form action="/login" method="POST" style="width: 23rem;">
              <h3 class=" login fw-bold mt-5 mb-3 pb-3  text-center  " style="letter-spacing: 1px;">Log in</h3>

              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password " name="password">
              </div>
              <p class="mb-2 "><a class="forget" href="/forgot/forgot-p">forgot password?</a></p>
              <div class="mb-4 d-flex justify-content-center  btn-lg">
                <button class=" btn btn-success login-btn m-auto px-5 py-1 rounded-pill fs-3" type="submit" name="submit"
                  id="submit">Login</button>
              </div>

              <p>New to here? <a href="/register" class="linkinfo text-decoration-none fs-4"> Sign up</a></p>
            </form>
          </div>
        </div>
      </div>
      <br>

      <%- include ('./partials/bottom-navbar') %>


    </body>

</html>